In [45]:
import numpy as np
import pandas as pd

In [46]:
with pd.ExcelFile('赛题三：疫情防控重点人群预测与画像-样例数据.xlsx') as excel:
    df1=pd.read_excel(excel,0)
    df2=pd.read_excel(excel,1)
    df3=pd.read_excel(excel,2)
    df4=pd.read_excel(excel,3)
    df5=pd.read_excel(excel,4)

In [47]:
df12=pd.merge(df1,df2,on='用户标识',how='outer')

In [48]:
df12['业务离开时间'].dtypes

dtype('float64')

In [49]:
df123=pd.merge(df12,df3,on=['LAC','CI'],how='outer')

In [50]:
df123.head()

,用户标识,业务离开时间,业务发生时间,LAC,CI,停留时长,性别,年龄,终端品牌,经度,纬度,方位角,高度,归属行政区
0,3755.0,2.022030e+11,2.022030e+11,3.0,c341743829b39864,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7587.0,2.022030e+11,2.022030e+11,3.0,c341743829b39864,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3755.0,2.022030e+11,2.022030e+11,3.0,be7d8e4a132fdff6,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3755.0,2.022030e+11,2.022030e+11,4.0,437ba0954e4dd779,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3755.0,2.022030e+11,2.022030e+11,4.0,437ba0954e4dd779,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df1234=pd.merge(df123,df4,on=['LAC','CI'],how='outer',suffixes=('_基站对象','_北京中高风险地区'))

In [52]:
df1234.head()

,用户标识,业务离开时间,业务发生时间,LAC,CI,停留时长,性别,年龄,终端品牌,经度,纬度,方位角,高度,归属行政区_基站对象,街道名称,归属行政区_北京中高风险地区,风险等级
0,3755.0,2.022030e+11,2.022030e+11,3.0,c341743829b39864,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7587.0,2.022030e+11,2.022030e+11,3.0,c341743829b39864,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3755.0,2.022030e+11,2.022030e+11,3.0,be7d8e4a132fdff6,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3755.0,2.022030e+11,2.022030e+11,4.0,437ba0954e4dd779,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3755.0,2.022030e+11,2.022030e+11,4.0,437ba0954e4dd779,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df12345=pd.merge(df1234,df5,on='用户标识',how='outer')

In [54]:
df12345.head()

,用户标识,业务离开时间,业务发生时间,LAC,CI,停留时长,性别,年龄,终端品牌,经度,...,高度,归属行政区_基站对象,街道名称,归属行政区_北京中高风险地区,风险等级,漫入怀柔,漫出怀柔,为怀柔常住用户,高风险区域返回,途径高风险区域
0,3755.0,2.022030e+11,2.022030e+11,3.0,c341743829b39864,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3755.0,2.022030e+11,2.022030e+11,3.0,be7d8e4a132fdff6,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3755.0,2.022030e+11,2.022030e+11,4.0,437ba0954e4dd779,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3755.0,2.022030e+11,2.022030e+11,4.0,437ba0954e4dd779,50.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3755.0,2.022030e+11,2.022030e+11,4.0,437ba0954e4dd779,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df12345.to_csv('合并-疫情防控重点人群预测与画像-样例数据.csv')